* { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: black;
    color: white;
    font: 13px Verdana;

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

#game {
    background: #6495ed;
    position: absolute;
}
